<div class="container py-5">
    <div class="row justify-content-between mb-3">
        <h1 class="col-auto">Update User</h1>
        <div class="col-auto">
            <a routerLink="/post/index" class="btn btn-primary">Back</a>
        </div>
    </div>

    <form *ngIf="users" [formGroup]="userForm" (submit)="onSubmit()" novalidate>
        <div class="form-group mb-3">
            <label for="birthday">Birthday:</label>
            
            <input 
            ngbDatepicker  (click)="d.toggle()" #d="ngbDatepicker"
                [value]=""
                formControlName="birthday" 
                id="birthday" 
                class="form-control"
                [ngClass]="birthday && birthday.invalid && (birthday.dirty || birthday.touched) ? 'border-danger':''">
            <div *ngIf="birthday && birthday.invalid && (birthday.dirty || birthday.touched)" class="text-danger small">
                Birthday is required.
            </div>
        </div>
    
        <div class="form-group mb-3">
            <label for="details">Details:</label>
            <input 
                [value]=""
                formControlName="details"
                id="details" 
                type="text" 
                class="form-control"
                [ngClass]="details && details.invalid && (details.dirty || details.touched) ? 'border-danger':''">
            <div *ngIf="details && details.invalid && (details.dirty || details.touched)" class="text-danger small">
                Details is required.
            </div>
        </div>
    
        <div class="form-group mb-3">
            <label for="email">Email:</label>
            <input 
            [value]=""
                formControlName="email"
                id="email" 
                type="text" 
                class="form-control"
                [ngClass]="email && email.invalid && (email.dirty || email.touched) ? 'border-danger':''">
            <div *ngIf="email && email.invalid && (email.dirty || email.touched)" class="text-danger small">
                Email is required.
            </div>
        </div>
    
        <div class="form-group mb-3">
            <label for="phone">Phone:</label>
            <input 
            [value]=""
                formControlName="phone"
                id="phone" 
                type="text" 
                class="form-control"
                [ngClass]="phone && phone.invalid && (phone.dirty || phone.touched) ? 'border-danger':''">
            <div *ngIf="phone && phone.invalid && (phone.dirty || phone.touched)" class="text-danger small">
                Phone is required.
            </div>
        </div>
    
        <div class="form-group mb-3">
            <label for="type">Type:</label>
            <input 
            [value]=""
                formControlName="type"
                id="type" 
                type="text" 
                class="form-control"
                [ngClass]="type && type.invalid && (type.dirty || type.touched) ? 'border-danger':''">
            <div *ngIf="type && type.invalid && (type.dirty || type.touched)" class="text-danger small">
                Type is required.
            </div>
        </div>
    
        <div class="form-group mb-3">
            <label for="userName">Username:</label>
            <input 
                [value]=""
                formControlName="userName"
                id="userName" 
                type="text" 
                class="form-control"
                [ngClass]="userName && userName.invalid && (userName.dirty || userName.touched) ? 'border-danger':''">
            <div *ngIf="userName && userName.invalid && (userName.dirty || userName.touched)" class="text-danger small">
                Username is required.
            </div>
        </div>
         
        <button class="btn btn-primary" type="submit">Update</button>

    </form>
</div>